/* You can add global styles to this file, and also import other style files */


    body {
        background-color: colors[i] ;
        color: colors[i];
      }

 border {
        border-radius: 50%;
        padding: 20px;
        width: 200px;
        height: 150px;
      }


     
    